.arrow-down {
  position: absolute;
  bottom: 120px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.arrow-down::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-right: 3px solid whitesmoke;
  border-bottom: 3px solid whitesmoke;
  -webkit-animation: rotate(45deg);
  transform: rotate(45deg);
  -webkit-animation: 3s arrow infinite ease;
  animation: 3s arrow infinite ease;
}

@-webkit-keyframes arrow {
  0%, 100% {
    top: 50px;
  }
  50% {
    top: 80px;
  }
}

@keyframes arrow {
  0%, 100% {
    top: 50px;
  }
  50% {
    top: 80px;
  }
}