.modal { 
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 15vh;
  position: relative;
}

.modal.hide {
  position: relative;
  display: none;
}

.whatsapp img, .email img{
  width: 30px;
  height: 30px;
}

