
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(../img/ceu.jpg);
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  background-position: center;
  font-family: 'Comfortaa', cursive;
  height: 100vh;
  font-size: 12px;
}

@media (min-width: 400px) {
  body {
    font-size: 14px;
  }
}

@media (min-width: 600px) {
  body {
    font-size: 18px;
  }
}

header {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.menu {
  background-color: #141835;
  font-weight: bold;
  position: fixed;
  width: 100vw;
  top: 0;
}

.menu ul {
  display: flex;
  justify-content: space-around;
}

.menu li {
  list-style: none;
  padding: 15px;
  
}

a {
  text-decoration: none;
  color: whitesmoke;
  text-align: center;
}

a:hover {
  text-decoration: underline;
}

.title,
.subtitle {
  color: whitesmoke;
  text-align: center;
  line-height: 2em;
}

.subtitle {
  font-style: italic;
}

.portfolio-subtitle {
  display: block;
  text-align: center;
  padding: 3em;
  color: whitesmoke;
}

.sobre-subtitle {
  display: block;
  text-align: center;
  padding-top: 3em;
  color: whitesmoke;
}

.titulo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-title {
  width: 100px;
  border-radius: 75px;
}

.social {
  background-color: #141835;
  border-radius: 8px;
  margin-left: 5px;
  display: flex;
  flex-direction: column;
  width: 30px; 
  position: fixed;
}

.social img{
  width: 30px;
}

@media (min-width: 400px) {
  .social {
    width: 40px;
  }

  .social img {
    width: 40px;
  }
}

.principal {
  display: flex;
  flex-direction: column;
}

.portfolio {
  background-color: rgb(20, 24, 53);
}

.figure-portfolio:hover {
  box-shadow: 0 2px 2px whitesmoke;
}

.img-portfolio {
  width: 150px;
  border-radius: 10px;
}

.itens {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 3em;
}

@media (min-width: 500px) {
  .itens {
    flex-direction: row;
  }
}

.caption-portfolio {
  text-align: center;
  color: whitesmoke;
}

.sobre {
  background-color: rgb(20, 24, 53);
}

.sobre p {
  color: whitesmoke;
}

.txt {
  padding: 5em;
}

.conhecimentos {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.conhec-title {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.conhecimentos img {
  width: 50px;
  padding-left: 10px;
}

.conhec-img:hover {
  transform: translateY(5px);
}

button {
  background: transparent;
  border: 0;
}

.portfolio-menu, .sobre-menu{
  cursor: pointer;
}

.footer {
  margin-left: 40vw;
  position: absolute;
  bottom: 0;
}